<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link href="~/Areas/Admin/Assets/CSS/LayoutPageCss.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/CSS/ViewCss.css" rel="stylesheet" />
    <link href="~/Assets/Css/RenkPaleti.css" rel="stylesheet" />
</head>
<body>

    @* Top Bar *@
    <div class="topBar">
        
    </div>


    <div class="leftBar">
        <div class="kullaniciBar">
            <a href="#">Profil</a>
            <br />
            <a href="#">>   Ayarlar</a>
        </div>
        <div class="menuBar">
            <ul>

                <!-- #region Kategori -->
                <a href="@Url.Action("Index","Kategori")">
                <li>Kategori</li></a>

                <a href="@Url.Action("Index","Kategori")">
                <li>> &nbsp;&nbsp;&nbsp;Kategori Listesi</li></a>

                <a href="@Url.Action("Create","Kategori")">
                <li>> &nbsp;&nbsp;&nbsp;Kategori Ekle</li></a>
                <!-- #endregion -->
                <!-- #region Urun-->
                <a href="@Url.Action("Index","Urun")">
                <li>Urunler</li></a>

                <a href="@Url.Action("Index","Urun")">
                <li>> &nbsp;&nbsp;&nbsp;Urunlerin Listesi</li></a>

                <a href="@Url.Action("Create","Urun")">
                <li>> &nbsp;&nbsp;&nbsp;Urun Ekle</li></a>
                <!-- #endregion -->
                <!-- #region Fotoğraf Yolları -->

                <a href="@Url.Action("Index","OyunFotograf")">
                <li>Oyun Fotoğrafları</li></a>

                <a href="@Url.Action("Index","OyunFotograf")">
                <li>> &nbsp;&nbsp;&nbsp;Fotoğrafların Listesi</li></a>

                <a href="@Url.Action("Create","OyunFotograf")">
                <li>> &nbsp;&nbsp;&nbsp;Fotoğraf Ekle</li></a>
                <!-- #endregion -->

            </ul>
        </div>
    </div>


    <div class="body">
        @RenderBody()
    </div>
</body>
</html>
