@model AnInterestingWebSiteName.Models.Urunler
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

}

<div class="form">
    <div class="baslik">
        Urun Ekle
        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>

    <div class="objectsItems">

        @using (Html.BeginForm("Create", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="objectsItem">
                @Html.LabelFor(model => model.Ad):  
                <br />
                @Html.EditorFor(model => model.Ad)
                <br />
                @Html.ValidationMessageFor(model => model.Ad)
            </div>

            <div class="objectsItem">
                <label>Kategori:</label>
                <br />
                @Html.DropDownList("Kategori_ID", null, htmlAttributes: new { @class = "dropDown" })
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Aciklama):
                <br />
                @Html.EditorFor(model => model.Aciklama)
                <br />
                @Html.ValidationMessageFor(model => model.Aciklama)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Fiyat)
                <br />
                @Html.EditorFor(model => model.Fiyat)
                <br />
                @Html.ValidationMessageFor(model => model.Fiyat)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.IkonYolu) <small>231px X 87px</small>
                <br />
                <input type="file" name="icon" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.TamResimYolu)
                <br />
                <input type="file" name="fullImage" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                <input type="submit" value="Kategori Ekle" />
            </div>
        }

    </div>

</div>