@model AnInterestingWebSiteName.Models.Urunler
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

}

<div class="form">
    <div class="baslik">
        Urun Düzenle

        <a href="@Url.Action("Index","Urun")" style="margin-left:20px;">Ürünlerin Listesi</a>

        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>

    <div class="objectsItems">

        @using (Html.BeginForm("Edit", "Urun", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="objectsItem">
                @Html.LabelFor(model => model.Ad):
                <br />
                @Html.EditorFor(model => model.Ad)
                <br />
                @Html.ValidationMessageFor(model => model.Ad)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Aciklama):
                <br />
                @Html.EditorFor(model => model.Aciklama)
                <br />
                @Html.ValidationMessageFor(model => model.Aciklama)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Fiyat)
                <br />
                @Html.EditorFor(model => model.Fiyat)
                <br />
                @Html.ValidationMessageFor(model => model.Fiyat)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Indirim)
                <br />
                @Html.EditorFor(model => model.Indirim)
                <br />
                @Html.ValidationMessageFor(model => model.Indirim)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.IkonYolu) <small>231px X 87px</small>
                <br />
                <input type="file" name="icon" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.TamResimYolu)
                <br />
                <input type="file" name="fullImage" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                <input type="submit" value="Ürünü Düzenle" />
            </div>
        }

    </div>

</div>