@model IEnumerable<AnInterestingWebSiteName.Models.Urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

}

<div class="form">
    <div class="baslik">
        Kategori Listesi
        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>
    <div style="margin-top:1vh;">
        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.Kategori)</th>
                <th>@Html.DisplayNameFor(model => model.Ad)</th>
                <th>@Html.DisplayNameFor(model => model.TamResimYolu)</th>
                <th>@Html.DisplayNameFor(model => model.IkonYolu)</th>
                <th>@Html.DisplayNameFor(model => model.Aciklama)</th>
                <th>Seçenekler</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Kategori.Ad</td>
                    <td>@item.Ad</td>

                    <td>
                        <img class="image" src="~/Fotograflar/UrunFotograflari/@item.TamResimYolu" alt="Tam Resim" />
                    </td>

                    <td>
                        <img class="image" src="~/Fotograflar/UrunFotograflari/@item.IkonYolu" alt="İkon" />
                    </td>

                    <td>
                        @if (item.Aciklama == null || item.Aciklama.Length > 50)
                        {

                            if (item.Aciklama != null)
                            {
                                @item.Aciklama.Substring(0, 50);
                            }
                            <label>...</label>
                        }
                        else
                        {
                            @item.Aciklama
                        }
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Edit","Urun",new {ID = item.ID})">Düzenle</a>
                        <br />
                        <a href="@Url.Action("Index","OyunFotograf",new {ID = item.ID})">Fotoğrafları</a>
                        <br />  
                        <a href="@Url.Action("Delete","Urun",new {ID = item.ID})">Sil</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
